<template>
    <div class="card">
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <div class="form-check p-0">
                        <input
                            id="filter_active"
                            type="checkbox"
                            v-debounce:400="searchItems"
                            v-on:change="searchItems"
                            v-model="filter.active">
                        <label class="form-check-label p-1" for="filter_active">
                            {{$t('Показывать только активных клиентов')}}
                        </label>
                    </div>
                    <div>
                    </div>
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                <!--begin::Toolbar-->
                <div
                    class="d-flex justify-content-end"
                    data-kt-customer-table-toolbar="base"
                >
                    <router-link to="create">
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#kt_modal_add_customer"
                        >
                        <span class="svg-icon svg-icon-2">
                          <inline-svg src="/media/icons/duotune/arrows/arr075.svg"/>
                        </span>
                            {{$t('Добавить клиента')}}
                        </button>
                    </router-link>

                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
                <thead>
                <tr class="fw-semibold fs-6 text-muted">
                    <th></th>
                    <th>{{$t('Фамилия Имя')}}</th>
                    <th>{{$t('На проверке')}}</th>
                    <th>{{$t('Активные')}}</th>
                    <th>{{$t('За 3 дня')}}</th>
                    <th>{{$t('За 10 дней')}}</th>
                    <th>-</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user of users">
                    <td>
                        <div class="form-check form-check-solid form-switch-sm form-check-solid-width-sm form-switch form-check-custom fv-row">
                            <input class="form-check-input"  role="button" type="checkbox" :checked="user.active" @change="onActiveStatusChangeEvent(user, user.active)">
                            <label class="form-check-label" for="allowmarketing"></label>
                        </div>
                    </td>
                    <td>
                        <router-link :to="'/user/edit/'+user.id+'/task/'">
                            {{ user.surname + ' ' + user.name }}
                        </router-link>
                    </td>
                    <td>{{user.taskStats.in_review}}</td>
                    <td>{{user.taskStats.active}}</td>
                    <td>{{user.taskStats.finished}}</td>
                    <td>{{user.taskStats.finished10}}</td>
                    <td>
                        <router-link :to="'edit/'+user.id" class="btn btn-icon-primary btn-text-primary p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" :title="$t('Редактировать клиента')">
                            <i class="bi bi-pencil-square fs-4 me-2"></i>
                        </router-link>
                        <a v-on:click="deleteUser(user)" href="javascript:;" class="btn btn-icon-danger btn-text-danger p-0" data-bs-toggle="tooltip" data-bs-placement="bottom" :title="$t('Удалить клиента')"><i class="bi bi-backspace fs-4 me-2"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 px-0 p-1" v-if="users.length > 0">
            <PaginationTemplate :per-page="perPage" :count="pagesCount" :current-page="currentPage"></PaginationTemplate>
        </div>
    </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import ApiService from "@/core/services/ApiService";
import Swal from "sweetalert2";
import PaginationTemplate from "@/components/table/PaginationTemplate.vue";

export default defineComponent({
    name: "user-list",
    components: {
        PaginationTemplate
    },
    init() {
    },

    methods: {
        onActiveStatusChangeEvent(user, statusBefore) {
            ApiService.post('/admin/user/active/'+user.id)
                .then((response) => {

                }).catch(({ response }) => {
                    user.active = statusBefore;
                });
        },
        async searchItems() {
            await ApiService.query('/user/list',
                {
                    params: {
                        filter: {
                            active: this.filter.active
                        },
                        search: this.filter.search,
                        page: this.currentPage,
                        count: this.perPage
                    }
                }).then((response) => {
                this.users = response.data.data.items;
                this.pagesCount = response.data.data.meta.pages_count;
            })
        },
        async deleteUser(user) {
            Swal.fire({
                title: this.$t('Вы уверены что хотите удалить') + ' ' + user.name + ' ' + user.surname,
                showDenyButton: true,
                showCancelButton: true,
                showConfirmButton: false,
                denyButtonText: this.$t('Удалить'),
                cancelButtonText: this.$t('Отмена'),
            }).then(async (result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                } else if (result.isDenied) {
                    await ApiService.post('/user/delete/'+user.id).then((data: any) => {
                        this.searchItems()
                        // Swal.fire('Changes are not saved', '', 'info')
                    })
                }
            })
        }
    },
    data() {
        return {
            currentPage: 1,
            perPage: 10,
            pagesCount: null,
            tableData: [],
            filter: {
                active: true,
                search: '',
            },
            selectedIds: [],
            deleteFewCustomers: [],
            sort: [],
            users: []
        }
    },
    async mounted() {
        await this.searchItems();
        this.emitter.on("change-page", (page) => {
            this.currentPage = page;
            this.searchItems();
        });
        this.emitter.on("change-count", (count) => {
            this.perPage = count;
            this.currentPage = 1;
            this.searchItems();
        });
    },
    unmounted() {
        this.emitter.off("change-page");
        this.emitter.off("change-count");
    }
});
</script>
<style>
.form-check-label {
    font-weight: 300;
    font-size: 1rem;

}
</style>
