<template>
    <div class="d-grid gap-5">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-semobold fs-6">{{$t('Аватар')}}</label>
                        <div class="col-lg-8">
                            <div class="image-input image-input-outline" data-kt-image-input="true"
                                 style="background-image: url(&quot;/metronic8/vue/demo1//media/avatars/blank.png&quot;);">
                                <div class="image-input-wrapper w-125px h-125px"
                                     v-bind:style="imageUrl"></div></div>
                            <div class="form-text">{{ $t('Разрешены расширения: png, jpg, jpeg.') }}</div>

                            <div v-if="errors.image" class="fv-plugins-message-container invalid-feedback">
                                <div data-field="daterangepicker_input" data-validator="notEmpty">{{ errors.image[0] }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        {{$t('Редактировать клиента')}}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{$t('E-mail')}}</label>
                        <div class="col-lg-8 fv-row">
                            <input v-model="model.email" type="text" disabled="disabled" class="form-control" placeholder="name@example.com">
                            <div v-if="errors.email" class="fv-plugins-message-container invalid-feedback">
                                <div data-field="daterangepicker_input" data-validator="notEmpty">{{ errors.email[0] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{ $t('Имя') }}</label>
                        <div class="col-lg-8 fv-row">
                            <input v-model="model.name" type="text" class="form-control" placeholder="">
                            <div v-if="errors.name" class="fv-plugins-message-container invalid-feedback">
                                <div data-field="daterangepicker_input" data-validator="notEmpty">{{ errors.name[0] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label required fw-semobold fs-6">{{ $t('Фамилия') }}</label>
                        <div class="col-lg-8 fv-row">
                            <input v-model="model.surname" type="text" class="form-control" placeholder="">
                            <div v-if="errors.surname" class="fv-plugins-message-container invalid-feedback">
                                <div data-field="daterangepicker_input" data-validator="notEmpty">{{ errors.surname[0] }}</div>
                            </div>
                        </div>
                    </div>
                    <button ref="submitButton" href="javascript:;" v-on:click="submitForm" type="submit"
                            class="btn btn-success">

                        <span class="indicator-label"> {{ $t('Сохранить') }} </span>
                        <span class="indicator-progress">
                    {{ $t('Пожалуйста подождите...') }}
                    <span
                        class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span>
          </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ApiService from "../../core/services/ApiService";
import Swal from "sweetalert2";
import {useRouter} from "vue-router";

export default {
    name: "UserEdit",
    data() {
        return {
            errors: {},
            model: {
                email: '',
                avatar: '/media/avatars/blank.png',
                image: '',
                name: '',
                surname: ''
            }
        }
    },
    mounted() {
        ApiService.get("user/info/" + this.$route.params.id)
            .then((response) => {
                console.log(response);
                this.model = response.data.data;
                this.model.avatar = response.data.data?.avatar == undefined ? '/media/avatars/blank.png' : response.data.data.avatar.url;
                this.model.image = '';

            })
    },
    computed: {
        imageUrl: function () {
            return {'background-image': `url(${this.model.avatar})`}
        }
    },
    methods: {
        submitForm() {
            let formData = new FormData();
            formData.set('name', this.model.name)
            formData.set('surname', this.model.surname)
            ApiService.post("user/edit/" + this.$route.params.id, formData)
                .then(() => {
                    Swal.fire({
                        text: this.$t("Клиент успешно изменен"),
                        icon: "success",
                        buttonsStyling: false,
                        confirmButtonText: "Ок!",
                        heightAuto: false,
                        customClass: {
                            confirmButton: "btn fw-semobold btn-light-primary",
                        },
                    }).then(() => {
                        // Go to page after successfully login
                        this.$router.push({name: "user-list"});
                    });
                })
                .catch(({response}) => {
                    console.log(response)
                    this.errors = response.data.errors;
                    Swal.fire({
                        text: response.data.message,
                        icon: "error",
                        buttonsStyling: false,
                        confirmButtonText: "Ок!",
                        heightAuto: false,
                        customClass: {
                            confirmButton: "btn fw-semobold btn-light-danger",
                        },
                    });
                });
        },
    },
}
</script>

<style scoped>

</style>
