<template>
  <!--begin::Navbar-->
  <div class="app-navbar flex-shrink-0">
    <!--begin::Search-->

    <!--begin::User menu-->
    <div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
      <!--begin::Menu wrapper-->
      <div
        class="cursor-pointer symbol symbol-35px symbol-md-40px"
        data-kt-menu-trigger="click"
        data-kt-menu-attach="parent"
        data-kt-menu-placement="bottom-end"
      >
          <div v-bind:style="imageUrl" class="image-input-wrapper"></div>
      </div>
      <KTUserMenu />
      <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
  </div>
  <!--end::Navbar-->
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import KTNotificationMenu from "@/layouts/main-layout/menus/NotificationsMenu.vue";
import KTQuickLinksMenu from "@/layouts/main-layout/menus/QuickLinksMenu.vue";
import KTUserMenu from "@/layouts/main-layout/menus/UserAccountMenu.vue";
import { useThemeStore } from "@/stores/theme";
import {useAuthStore} from "@/stores/auth";

export default defineComponent({
  name: "header-navbar",
  components: {
    KTNotificationMenu,
    KTQuickLinksMenu,
    KTUserMenu,
  },
    computed: {
        imageUrl: function() {
            const auth = useAuthStore();
            return {'background-image': `url(${auth.avatar})`}
        }
    },
  setup() {
    const store = useThemeStore();
    const auth = useAuthStore();
    const themeMode = computed(() => {
      return store.mode;
    });
      const avatar = computed(() => {
          const store = useAuthStore();
          const avatar = store.avatar;
          return avatar;
      });
    return {
      themeMode,
        avatar,
    };
  },
});
</script>

<style scoped>
.image-input-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
}
</style>
