<template>
    <div class="col-12">
        <div class="card-title">
            <button
                    v-on:click="setStatus(index)"
                    v-for="(taskStatusItem, index) in taskStatuses"
                    :class="{'btn-secondary': taskStatus === index}"
                    type="button"
                    class="btn btn-sm btn-light">{{ $t(taskStatusItem.title) }}</button>
        </div>
        <div class="col-lg-12 p-1 task-list-item" v-for="(task, name, index) in tasks">
            <div class="card h-100">

                <div class="card-header flex-nowrap border-0 pt-1">
                    <!--begin::Card title-->
                    <div class="card-title m-0 col-8 col-sm-10">
                        <GetSvgByStatus :status="task.status.id"></GetSvgByStatus>
                        <!--begin::Icon-->
                        <div class="px-2 h6">
                            {{$t(task.type.title)}}
                        </div>
                        <div class="px-3 col-auto d-none d-sm-block button-link">
                            <router-link
                                :to="getTaskLink(task)"
                                class="btn btn-secondary shadow btn btn-sm me-1">
                                <div class="h4 overflow-hidden"><b>{{task.name}}</b></div>
                            </router-link>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Card title-->
                    <div class="card-toolbar m-0 text-secondary">
                        {{getRealDate(task.answer.created_at)}} № {{task.id}}
                    </div>
                </div>
                <div class="card-header flex-nowrap border-0 pt-1 d-block d-sm-none">
                    <!--begin::Card title-->
                    <div class="card-title m-0 col-10">
                        <div class="px-0 col-auto d-block d-sm-none button-link">
                            <router-link
                                :to="getTaskLink(task)"
                                class="btn btn-secondary shadow btn btn-sm me-1">
                                <div class="h4 overflow-hidden"><b>{{task.name}}</b></div>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex flex-column px-9 pt-1 pb-8">
                    <!--begin::Heading-->
                    <div class="row">
                        <p class="text-break">
                            {{task.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 p-1" v-if="tasks && tasks.length > 0">
            <PaginationTemplate :per-page="perPage" :count="pagesCount" :current-page="currentPage"></PaginationTemplate>
        </div>


        <div v-if="tasks?.length === 0" class="px-0 p-1">
            <div class="alert alert-primary">{{$t('Пока задач нет, их скоро назначит преподаватель')}}</div>
        </div>
    </div>
</template>

<script>

import ApiService from "@/core/services/ApiService";
import GetSvgByStatus from "./_helpers/GetSvgByStatus.vue";
import PaginationTemplate from "@/components/table/PaginationTemplate.vue";
import moment from 'moment'
export default{
    name: "ClientTaskList",
    components: {
        GetSvgByStatus,
        PaginationTemplate
    },
    init() {
    },

    methods: {
        getRealDate(data) {
            return moment(data).format('DD/MM/YYYY')
        },
        getTaskLink(task) {
            let link = '';
            if (task.type.id === 'essay') {
                if (['in_review','finished'].includes(task.status.id)) {
                    link = "/task/view/"+task.id;
                }
                if (['assigned','reassigned'].includes(task.status.id)) {
                    link = this.getEditLink(task);
                }
            }
            if (task.type.id === 'test') {
                if (['in_review','finished'].includes(task.status.id)) {
                    link = this.getResultLink(task);
                }
                if (['assigned','reassigned'].includes(task.status.id)) {
                    link = this.getEditLink(task);
                }
            }
            return link;
        },
        getEditLink(task) {
            return '/task/solve-' + task.type.id + '/'+ task.id;
        },
        getResultLink(task) {
            return '/task/solve-' + task.type.id + '-result/'+ task.id;
        },
        async loadData() {
            let filter  = {
            };
            this.taskStatus ? filter[this.taskStatus] = true : filter[this.taskStatus];
            await ApiService.query('/client/task/list', {
                params: {
                    filter: filter,
                    page: this.currentPage,
                    count: this.perPage,
                }
            }).then((response) => {
                this.tasks = response.data.data.items;
                this.pagesCount = response.data.data.meta.pages_count;
            })
        },
        async setStatus(status) {
            this.taskStatus = status;
            this.currentPage = 1;
            await this.loadData();
        },
    },
    data() {
        return {
            tableData: [],
            search: [],
            selectedIds: [],
            deleteFewCustomers: [],
            sort: [],
            tasks: null,
            currentPage: 1,
            perPage: 10,
            pagesCount: null,
            taskStatus: 'all',
            taskStatuses: {
                'new': {
                    title: 'Новые',
                    errorMessage: 'Нет новых задач',
                },
                '10day': {
                    title: 'За 10 дней',
                    errorMessage: 'Нет задач за последние 10 дней',
                },
                'all': {
                    title: 'Все',
                    errorMessage: 'Нет задач',
                },
            },
        }
    },
    beforeMount() {
        this.loadData();
    },
    mounted() {
        this.emitter.on("change-page", (page) => {
            this.currentPage = page;
            this.loadData();
        });
        this.emitter.on("change-count", (count) => {
            this.perPage = count;
            this.currentPage = 1;
            this.loadData();
        });
    },
    unmounted() {
        this.emitter.off("change-page");
        this.emitter.off("change-count");
    }
};
</script>
<style>
.button-link {
    flex: initial;
    max-width: 100%;
}
</style>
