<template>
    <div class="container-fluid row">
        <div class="col-6 p-0">
            <node-tree ref="node-tree" :item="this.task_categories" :value="this.task_categories.name"></node-tree>
        </div>
        <div class="col-6">
            <TaskList></TaskList>
        </div>
    </div>
</template>

<script>
import ApiService from "@/core/services/ApiService";
import NodeTree from "@/components/node-tree/NodeTree.vue";
import TaskList from "./TaskList.vue";
import {useNodeStore} from "@/stores/node-tree";

export default {
    name: "TaskCategoryTree",
    components: {
        NodeTree,
        TaskList
    },
    init() {
    },
    data() {
        return {
            folder_id: '',
            tableData: [],
            search: [],
            selectedIds: [],
            deleteFewCustomers: [],
            sort: [],
            task_categories: []
        }
    },
    methods: {
        async getItems() {
            await ApiService.get('/category-tree/list').then((data) => {
                this.task_categories = data.data;
            })
            this.loadNodes();
        },
        async moveElement(object) {
            await ApiService.post('/category-tree/replace', object).then(() => {
            })
            await ApiService.get('/category-tree/list').then((data) => {
                this.task_categories = data.data;
            })
        },
        loadNodes() {
            const nodeItems = document.getElementsByClassName('accordion-item');
            const store = useNodeStore();
            function removeFromItem(nodeItem) {
                nodeItem.classList.remove('line-top');
                nodeItem.classList.remove('line-bottom');
                nodeItem.classList.remove('border-primary');
            }
            function removeClasses(currentTarget) {
                for (let nodeItem of nodeItems) {
                    if (currentTarget.id !== nodeItem.id) {
                        removeFromItem(nodeItem);
                    }
                }
            }
            function removeAll() {
                for (let nodeItem of nodeItems) {
                    removeFromItem(nodeItem);
                }
            }
            if (nodeItems) {
                let currentItem = null;
                let fromItem = null;
                let moveTo = null;
                for (let nodeItem of nodeItems) {
                    nodeItem.ondragstart = (event) => {
                        fromItem = event.target;
                        fromItem.setAttribute('type','folder')
                        store.setCurrentUsingNode(fromItem);
                    };
                    nodeItem.ondragleave = (event) => {
                        removeAll();
                    }
                    nodeItem.ondrop = async () => {
                        removeAll();
                        let currentUsingNode = store.currentUsingNode;
                        if (currentUsingNode.getAttribute('type') === 'task') {
                            const taskId = parseInt(currentUsingNode.id.replace(/[^\d.]/g, ''));
                            const taskCategoryId = parseInt(store.currentUsingToNode.id.replace(/[^\d.]/g, ''));
                            await store.assignTask(taskId, taskCategoryId);
                            this.emitter.emit("task-move");
                            this.emitter.emit("task-move");
                        }
                        if (currentUsingNode.getAttribute('type') === 'folder') {
                            currentUsingNode.style.display = "block";
                            removeAll();
                            let object = {
                                from_id: parseInt(currentUsingNode.id.replace(/[^\d.]/g, '')),
                                to_id: parseInt(currentItem.id.replace(/[^\d.]/g, '')),
                                move_to: moveTo
                            };
                            await this.moveElement(object);
                            await this.getItems();
                        }
                    }
                    nodeItem.ondragover = (event) => {
                        event.preventDefault();
                        let folderTarget = event.target.closest('.add-to-folder');
                        let eventTarget = event.target.closest('.accordion-item');
                        removeClasses(eventTarget);
                        currentItem = store.currentUsingNode;
                        if (currentItem.getAttribute('type') === 'task') {
                            store.setCurrentUsingToNode(eventTarget);
                            if (eventTarget) {
                                moveTo = 'inner';
                                eventTarget.classList.add('border-primary');
                            }
                        }
                        if (currentItem.getAttribute('type') === 'folder') {
                            if (eventTarget) {

                                let height = eventTarget.offsetHeight;
                                let number = event.pageY - eventTarget.offsetTop;

                                if (currentItem.id !== event.target.id) {
                                    currentItem.classList.remove('line-top');
                                    currentItem.classList.remove('line-bottom');
                                    currentItem.classList.remove('border-primary');
                                }
                                currentItem = eventTarget;
                                // nodeItem.classList.add('alert-danger');
                                if (number < 5) {
                                    moveTo = 'before';
                                    currentItem.classList.add('line-top');
                                    currentItem.classList.remove('line-bottom');
                                    currentItem.classList.remove('border-primary');
                                } else if (number > 25) {
                                    moveTo = 'after';
                                    currentItem.classList.add('line-bottom');
                                    currentItem.classList.remove('line-top');
                                    currentItem.classList.remove('border-primary');
                                } else {
                                    moveTo = 'inner';
                                    currentItem.classList.add('border-primary');
                                    currentItem.classList.remove('line-top');
                                    currentItem.classList.remove('line-bottom');
                                }
                            }
                        }

                    }
                    nodeItem.ondragend = async () => {
                    };
                    nodeItem.ondragenter = function (event) {
                    };
                }
            }
        }
    },
    async mounted() {
        await this.getItems();

        this.emitter.on("reload-tree", () => {
            this.loadNodes();
        });
        this.emitter.on("task-move", () => {
            this.getItems()
        });
    },
    unmounted() {
        this.emitter.off("reload-tree");
        this.emitter.off("task-move");
    }
};
</script>
<style>
.line-top {
    border-top: 1px solid red;
    padding-top: 20px;
}

.line-bottom {
    border-bottom: 1px solid red;
    padding-bottom: 20px;
}
</style>
